<div class = "row">

  <center><img src="/assets/images/burgerhome.jpeg" alt = "Burger"></center>   
  <h1 data-text = "Eat-da-Veggie-Burger!">Eat-da-Veggie-Burger!</h1>

</div>

<div class = "row" id = "bothBoxes">

    {{!-- Left Side (Ready to Eat) --}}
    
    <div class = "col-md-6" id = "readyToEat">
        <h4>Ready to Eat!</h4>

        {{!-- Dynamically Insert Ready Burgers Here  --}}
        {{#each burgers}}
            {{#unless devoured}}
            <br>
            <div class = "burger">
                <div class = "order">
                    {{this.burger_name}}
                </div>
            </div>
            <div>
                <form action = "burger/eat/{{id}}" method = "POST">
                    <div class = "input-group">
                {{!-- <input type="hidden" name="devoured" value="true"> --}}
                    <class = "form-control">{{burger_name}}</class>
                <button type="submit" class="devour">Devour it!</button>

                    </div>
                </form>
            </div>
            {{/unless}}
        {{/each}}
    </div>

    {{!-- Right Side (Already Eaten)  --}}
    <div class = "col-md-6" id = "alreadyAte">
        <h4>Already Eaten!</h4>

        {{!-- Dynamically Insert Ready Burgers Here  --}}
        {{#each burgers}}
                    {{#if this.devoured}}
                        <div class="input-group">
                            <div class = "order">
                            {{this.burger_name}}
                            </div>
                        </div>
                        <div>
                           <class = "form-control">{{.this.burger_name}}</class>
                           {{!-- <input type="hidden" name="devoured" value="false"> --}}
                            {{!-- <button type="submit" class="order-again">Order it Again!</button> --}}
                             {{!-- <a class="waves-effect waves-light btn" id = "button">Order it Again!</a> --}}
                    
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>

        {{!-- <div class="main">

        <form class="create-update-form" action="/" method="POST">
            <div class="form-group">
            <input type="text" id="ca" name="name" placeholder="Your dream veggie burger" required/>
            </div>
            <button type="submit" id="order">
            Place Order
            </button>
        </form>

        <p>Hungry? Type in the name of the veggie burger you want to eat, then place your order.</p>
        
        <div class="line"></div>

        </div> --}}








